<div class="container">
  <div class="todo-list">
    <form (ngSubmit)="add(taskNgForm)" #taskNgForm="ngForm">
      <div class="input-group">
        <input readonly name="date" [matDatepicker]="picker" [(ngModel)]="newTask.date">
        <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <div class="input-group">
        <input #newTaskNgModel="ngModel" required minlength="3" name="taskTitle" type="text" placeholder="Todo" [(ngModel)]="newTask.title">
        <button class="add-button">+</button>
      </div>
      <div *ngIf="newTaskNgModel.invalid && (newTaskNgModel.touched || newTaskNgModel.dirty)" class="validation-error">
        <div *ngIf="newTaskNgModel.errors?.['required']">
          Task title is required
        </div>
        <div *ngIf="newTaskNgModel.errors?.['minlength']">
          Task title should be at least 3 characters longs
        </div>
      </div>
    </form>
    <app-task-table [tasks]="(tasks | async) ?? []" (onRemove)="remove($event)"></app-task-table>
  </div>
</div>
