header {
  background-image: linear-gradient(120deg, #222222, #171717);
  margin: -10px;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 3.5rem;
  font-family: 'Tahoma';
  line-height: 120px;
}

body {
 background-color: rgb(77, 77, 77);
}
